.device > .screen {

    top: 11.50% !important;
    bottom: 11.50% !important;
    left: 5.90% !important;
    right: 5.8% !important;

}

.custom-list ul {



}

.custom-list ul > li {

    padding: 25px 0 0 25px;

}

.custom-list ul > li > ol {

    padding-top: 25px;

}

.custom-list ul > li > ol > li {

}
